<?xml version="1.0"?>
<strategys>
	<strategy>
		<path>E:\bit</path>
		<key>34DRwq1MqqWm8--POSUhEl9A</key>
		<secret>txfKD1Je6GJqJyOqEr7UnJC8ebPURzFzUNuZsJz2Pp-V8hau</secret>
		<name>cc</name>
	</strategy>
	<strategy>
		<path>E:\kdj</path>
		<key>34DRwq1MqqWm8--POSUhEl9A</key>
		<secret>txfKD1Je6GJqJyOqEr7UnJC8ebPURzFzUNuZsJz2Pp-V8hau</secret>
		<name>bb</name>
	</strategy>
	<strategy>
		<path>E:\number</path>
		<key>34DRwq1MqqWm8--POSUhEl9A</key>
		<secret>txfKD1Je6GJqJyOqEr7UnJC8ebPURzFzUNuZsJz2Pp-V8hau</secret>
		<name>aa</name>
	</strategy>
	<strategy>
		<path>e:\aanumber</path>
		<key>34DRwq1MqqWm8--POSUhEl9A</key>
		<secret>txfKD1Je6GJqJyOqEr7UnJC8ebPURzFzUNuZsJz2Pp-V8hau</secret>
		<name>dd</name>
	</strategy>
</strategys>